body{
	background-color: #FFFFFF;
}

.principal{
	width: 660px;
	height: 110px;
	margin: 0 auto;
}
.imagen{
	float: left;
	margin-top: 5px;
}

.titulo{
	float: right;
	margin-top: 10px;
	font-size: 1.5em;
}

.titulo h1,
.titulo h6{
	margin: 0 auto;
	text-align: right;
	font-family: Arial;
}

.franja{
	width: 660px;
	height: 5px;
	background-color: #D0C4AB;
	margin: 0 auto;
}

.main{
	width: 660px;
	height: 850px;
	background-color: #131A2D;
	margin: 0 auto;
	margin-top: 10px;
}
.imagen2{
	width: 651px;
	margin: 0 auto;
	padding-top: 15px;
}

.subtitulo{
	width: 660px;
	margin: 0 auto;
	color: #D0C4AB;
	margin-left: 30px;
}

.imagenes1{
	width: 250px;
	margin-left: 70px;
	float: left;
	text-align: center;
}

.imagenes1 h2{
	margin: 0 auto;
	color: #D0C4AB;
}

.imagenes1 a{
	font-size: 0.7em;
	color: #D0C4AB;
}

.imagenes2{
	width: 200px;
	margin-left: 62px;
	float: left;
	text-align: center;
}

.imagenes2 h2{
	margin: 0 auto;
	color: #D0C4AB;
}

.imagenes2 a{
	font-size: 0.7em;
	color: #D0C4AB;
}

.imagenes3{
	width: 250px;
	margin-left: 70px;
	text-align: center;
	padding-top: 182px;
}

.imagenes3 h2{
	margin: 0 auto;
	color: #D0C4AB;
}

.imagenes3 a{
	font-size: 0.7em;
	color: #D0C4AB;
}
